:root {
    --color-primary-dark-blue: #17202A;
    --color-primary-gray: #656a6e;
    --color-primary-light-white: #e7e9ea;
    --color-light-blue: #1DA1F2;
    --border-post: 1px solid var(--color-primary-gray);
}

* {
    font-family: 'Rubik';
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}


.twitterLogo>img {
    height: 80px;
    width: 80px;
}

.cardLogin {
    width: 420px;
}

.container>.cardLogin>h1 {
    color: var(--color-primary-light-white);
    margin-top: 20px;
}


.container>.cardLogin>h1 {
    font-size: 34px;
    font-weight: 500;
}

.loginField {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cardLogin>.loginField>input {
    background-color: #000;
    border: 2px solid #131415;
    height: 50px;
    outline: none;
    border-radius: 16px;
    color: #d1d3d4;
    padding: 0px 16px;
    font-size: 16px;
}

.cardLogin>.loginField>input::placeholder {
    color: var(--color-primary-gray);
}

.cardLogin>.loginField>button {
    height: 50px;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    background-color: #eff3f4;
    transition: background-color 0.3s;
}

.cardLogin button,
span:hover {
    cursor: pointer;
}

.cardLogin button:hover {
    background-color: #d5d9da;
}

.cardLogin>p {
    color: var(--color-primary-gray);
    text-align: center;
    margin-top: 32px;
}

.cardLogin>p>span {
    color: var(--color-primary-light-white);
}

.cardLogin span:hover {
    text-decoration: underline;
}

#sidebar {
    background-color: var(--color-primary-dark-blue);
    height: 100vh;
    flex: 1;
}

#side_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
}

#side_items {
    list-style: none;
    text-decoration: none;
    margin-bottom: 24px;
}

.side-item {
    margin-bottom: 24px;
}

.side-item>a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 16px;
}

.item-description {
    font-size: 20px;
    color: #FFF;
}

#tweet {
    background-color: var(--color-light-blue);
    border: none;
    color: #FFF;
    padding: 8px 32px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
}

#tweet:hover{
    cursor: pointer;
}

#post {
    flex: 2.5;
    background-color: var(--color-primary-dark-blue);
}

#header_post {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    border: 1px solid var(--color-primary-gray);
    border-top: none;
}

.new-tweet {
    padding: 18px;
    border: var(--border-post);
    border-top: none;
}

.text-tweet {
    display: flex;
    align-items: center;
    gap: 12px;
}

.text-tweet>img {
    border-radius: 24px;
}

.text-tweet>input {
    height: 30px;
    width: 100%;
    background-color: var(--color-primary-dark-blue);
    outline: none;
    border: none;
    color: var(--color-primary-light-white);
    font-size: 16px;
}

.text-tweet>input::placeholder {
    font-size: 18px;
}

.icons-tweet{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-tweet > .icons{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 7.5%;
}

#news_letter {
    flex: 1;
}