:root {
    --color-primary-dark-blue: #17202A;
    --color-secondary-dark-blue: #1C2733;
    --color-primary-gray: #656a6e;
    --color-secondary-gray: #8899A6;
    --color-primary-light-white: #e7e9ea;
    --color-light-blue: #1DA1F2;
    --border-post: 1px solid var(--color-primary-gray);
}

* {
    font-family: 'Rubik';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary-dark-blue);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}

.twitterLogo>img {
    height: 80px;
    width: 80px;
}

.cardLogin {
    width: 420px;
    max-width: 90%;
}

.container .cardLogin h1 {
    color: var(--color-primary-light-white);
    margin-top: 20px;
    font-size: 34px;
    font-weight: 500;
}

.loginField .login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cardLogin .loginField .login-form input {
    background-color: #000;
    border: 2px solid #131415;
    height: 50px;
    outline: none;
    border-radius: 16px;
    color: #d1d3d4;
    padding: 0px 16px;
    font-size: 16px;
}

.cardLogin .loginField .login-form input::placeholder {
    color: var(--color-primary-gray);
}

.cardLogin .loginField .login-form button,
.btn-update {
    height: 50px;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    background-color: #eff3f4;
    transition: background-color 0.3s;
}

.cardLogin button,
span:hover {
    cursor: pointer;
}

.cardLogin button:hover {
    background-color: #d5d9da;
}

.cardLogin p {
    color: var(--color-primary-gray);
    text-align: center;
    margin-top: 32px;
}

.cardLogin p span {
    color: var(--color-primary-light-white);
}

.cardLogin span:hover {
    text-decoration: underline;
}

#sidebar {
    background-color: var(--color-primary-dark-blue);
    flex: 1;
    overflow-y: auto;
}

#side_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
}

#side_items {
    list-style: none;
    text-decoration: none;
    margin-bottom: 24px;
}

.side-item {
    margin-bottom: 24px;
}

.side-item>a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 16px;
}

.item-description {
    font-size: 20px;
    color: #FFF;
}

#tweet {
    background-color: var(--color-light-blue);
    border: none;
    color: #FFF;
    padding: 8px 32px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
}

#tweet:hover {
    cursor: pointer;
}

#post {
    flex: 2.5;
    background-color: var(--color-primary-dark-blue);
    border-left: var(--border-post);
    border-right: var(--border-post);
    overflow-y: scroll;
}

#post::-webkit-scrollbar {
    width: 8px;
}

#post::-webkit-scrollbar-track {
    background: var(--color-primary-dark-blue);
}

#post::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-gray);
    border-radius: 20px;
}


#header_post {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    border-bottom: 1px solid var(--color-primary-gray);
}

.new-tweet {
    padding: 18px;
    border-bottom: var(--border-post);
}

.text-tweet {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radius-img {
    height: 48px;
    width: 48px;
    border-radius: 24px;
}

.text-tweet>input {
    height: 30px;
    width: 100%;
    background-color: var(--color-primary-dark-blue);
    outline: none;
    border: none;
    color: var(--color-primary-light-white);
    font-size: 16px;
}

.text-tweet>input::placeholder {
    font-size: 18px;
}

.icons-tweet {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-tweet>.icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 7.5%;
}

.icons-tweet>.icons>img,
i {
    cursor: pointer;
}

.latest_tweets {
    height: 70%;
}

.latest_tweets>.tweet {
    padding: 12px;
    border-bottom: var(--border-post);
}

.latest_tweets>.tweet>.header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.informations .post_description {
    color: var(--color-primary-light-white);
}

.user_informations {
    display: flex;
    gap: 8px;
    color: var(--color-primary-gray);
}

.user_informations #name {
    color: var(--color-primary-light-white);
    font-weight: 600;
}

.user_informations #nickname {
    color: var(--color-primary-gray);
}


.img-informations {
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
}

.image-legends {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-legends>img {
    max-height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid var(--color-secondary-gray);
}

.icons-posts {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.icons-posts>.post-social-icons {
    display: flex;
    font-size: 16px;
    align-items: center;
    color: var(--color-secondary-gray);
    gap: 8px;
}

.icons-posts>.post-social-icons,
.show-thread:hover {
    cursor: pointer;
}

.image-legends>.show-thread {
    font-size: 14px;
    color: var(--color-light-blue);
}

#news_letter {
    flex: 1;
    background-color: var(--color-primary-dark-blue);
    padding: 20px;
    overflow-y: auto;
}

.whats-happening-card {
    border-radius: 8px;
    background-color: var(--color-secondary-dark-blue);
    width: 100%;
}

.whats-happening-card>.title-card {
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-primary-gray);
}

.whats-happening-card>.title-card>h2 {
    color: var(--color-primary-light-white);
}

.whats-happening-card>h2 {
    color: var(--color-primary-light-white);
}

.whats-happening-card>.notice {
    padding: 8px;
    border-bottom: var(--border-post);
}

.whats-happening-card>.notice>.flags-notice {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 4px;
    color: var(--color-primary-gray);
}

.description-notice {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.description-notice>p {
    color: var(--color-primary-light-white);
    font-weight: 500;
}

.description-notice>img {
    border-radius: 8px;
    max-width: 80px;
}

.whats-happening-card>.footer-notice {
    border-bottom: var(--border-post);
}

.notice>.footer-notice>p {
    font-size: 12px;
    color: var(--color-primary-gray);
}

.notice>.footer-notice>p>span {
    color: var(--color-light-blue);
}

.whats-happening-card>.footer-card-notice {
    padding: 12px;
}

.whats-happening-card>.footer-card-notice>p {
    font-size: 14px;
    color: var(--color-light-blue)
}

#header-profile {
    padding: 8px 20px;
    border-bottom: var(--border-post);
}

#header-profile .name-profile {
    color: var(--color-primary-light-white);
    font-size: 18px;
}

#header-profile p {
    color: var(--color-primary-gray);
}

.profile-content {
    border-bottom: none;
}

.image-profile-background {
    background-image: url("../assets/images/astronauta.jpg");
    height: 230px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.img-profile-content {
    position: absolute;
    bottom: -58px;
    left: 2%;
}

.img-profile-content>img {
    border-radius: 50%;
    border: 4px solid #0F1419;
}

.names-edit {
    margin-top: 6%;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

.names-profile h1 {
    color: var(--color-primary-light-white);
}

.names-profile p {
    color: var(--color-primary-gray);
}

.btn-edit button {
    background-color: var(--color-light-blue);
    border: none;
    color: #FFF;
    padding: 8px 32px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
}

.btn-edit button:hover {
    cursor: pointer;
}

.position-profile {
    padding: 0px 16px;
}

.position-profile p {
    color: var(--color-primary-light-white);
}

#profile-tabs {
    border-bottom: var(--border-post);
}

#profile-tabs ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 16px 0;
}

#profile-tabs ul li {
    color: var(--color-primary-gray);
    font-weight: 600;
    padding: 0 8px;
}

#profile-tabs ul li:hover {
    cursor: pointer;
    color: var(--color-primary-light-white);
}

.title-update {
    color: var(--color-primary-light-white);
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10%;
}

.input-update {
    background-color: #283340;
    width: 60%;
    height: 50px;
    border: var(--border-post);
    outline: none;
    border-radius: 16px;
    color: #d1d3d4;
    padding: 0px 16px;
    margin: 0px auto;
    font-size: 16px;
}

.btn-update {
    height: 50px;
    width: 15%;
    margin: 0px auto;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    background-color: #eff3f4;
    transition: background-color 0.3s;
}

.btn-update:hover {
    cursor: pointer;
}